*{
	margin:  0;
	padding: 0;
}

body{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
}

div, section, span, ul, li, a {
	box-sizing: border-box;
}

/* CSS reset */

.navbar{
	width: 100%;
	height: 100px;
	background-color: white;
	display: inline-block;
	position: fixed;
	padding: 5px 10px;
	justify-content: space-between;
    font-size: 20px;
    display: flex;
    align-items: center;
}
header {
		display: inline-block;

}

#menubar li {
	list-style: none;
	display: inline-block;
	margin: 20px;	
}

#menubar li a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	align-items: center;
}

section{
	width: 100%;
	height: 100vh;
	float: left;
}

h1{
    font-size: 600%;
}
#home{
	background: url("images/copy.png");
	color: white;
}

.home-content{
	padding: 100px;
}

#about{
	background-color: white;
	color: black;	
}

.about-content{
	padding: 100px;
}

#products{
	background-color: black;
	color: white;
	height : 120%;

}

.products-content{
	padding: 100px;
}

#customers{
	background-color: white;
	color: black;
}

.customers-content{
	padding: 100px;
}

#contact{
	background-color: black;
	color: white;
}

.contact-content{
	padding: 100px;
}